*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*se incluye el blanco y negro por si en un futuro se quiere color algun color en especial*/
    --button: #E97451;
    --Black: black;
    --nav-bar: #CC5500;
    --text: #f7f7f7;
    --back-card: #DAA06D;
    --back-web: #FFF5EE;
    --back-button: ;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: var(--text)
}
a{
    text-decoration: none;
}

body{
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;  
    background: var(--back-web);
}

header{
    position: fixed;
    top: 0;
    background: var(--nav-bar);
    height: 4rem;
    width: 100%;
    z-index: 1;
}
.grafic{
    width: 20rem;
    position: absolute;
    margin-top: 4rem;
    border-right: 40px solid transparent;
    border-top: 3rem solid var(--nav-bar);
}
header nav li:nth-child(1){
    display: grid;
    position: absolute;
}
header nav li:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

a .logo{
    height: 5rem;
    margin: 1rem;
}

a .point {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 1rem 1rem 0 0;
}

a .point:nth-child(1){
    background: red;
    border: 1px solid var(--Black);
}
a .point:nth-child(2){
    background: yellow;
    border: 1px solid var(--Black);
}
a .point:nth-child(3){
    background: green;
    border: 1px solid var(--Black);
}

/* main */
main{
    justify-content: center;
    display: grid;
    place-items: center;
    margin-bottom: 10rem;
}

main:nth-child(2){
    margin-top: 5rem;
}
.card-body{
    margin-top: 3rem;
    height: auto;
    width: 30rem;
    margin-bottom: 3rem;
}
.card-body .name{
    display: grid;
    place-items: center;
}
.card-body h2{
    background: var(--nav-bar);
    border-radius: 10px;
    text-align: center;
    padding: 0.5rem 1rem;   
    position: absolute;
    margin-top: 6rem;
}

.card{
    background: var(--back-card);
    margin-top: 2rem;
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
}

.photo{
    display:flex;
    justify-content: center;
    background-image: url(https://www.pkparaiso.com/imagenes/anime/033/002.jpg);
    width: 26rem;
    margin: 0 auto;
    border-radius: 15px;
}

.photo img{
    width: 22rem;
    margin-top: 1rem;
}

.species{
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text);
}

.description{
    background: var(--);
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: var(--lg);
}

.button-adop{
    justify-content: center;
    display: grid;
    place-items: center;
}

.button-adop button{
    border: none;
    position: absolute;
    background: var(--button);
    border: 1px solid var(--text);
    width: 12rem;
    height: 4rem;
    border-radius: 12px;
    color: var(--text);
    font-size: var(--lg);
}
/*footer*/
footer .tablet{
    width: 100%;
    background-color: var(--nav-bar);
    height: 5rem;
    bottom: 0;
    position: fixed;
    padding-top: 1rem;
}

.footerBar li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100vw;
}

footer .tablet a:nth-child(1){
    margin-left: 2rem;
}
footer .tablet a:nth-child(2){
    display: flex;
    justify-content: center;
}
footer .tablet a:nth-child(3){
    margin-right: 2rem;
}

.footerBar li a img{
    width:3rem;
    height:3rem;
}

.other{
    text-align:center;
    color: white;
    width:18rem;
    height:3rem;
    background: var(--button);
    border-radius: 10px;
    padding-top: 0.5rem;
    font-size: var(--lg);
}

.desktop{
    display: none;
}

    